DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="replace-me"
NEXTAUTH_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NOMINATIM_BASE_URL="https://nominatim.openstreetmap.org"
SITE_URL="http://localhost:3000"
